name: 1.2 Bump Release Candidate

on:
  workflow_dispatch:
      dry_run:
        description: "Dry run"
        default: 'true'
        required: true
        type: boolean

permissions:
  contents: write

jobs:
  bump-rc:
    runs-on: ubuntu-latest

    env:
      TEMPORARY_RELEASE_BRANCH: release/candidate

    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git identity
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Stash uncommitted changes if any
        id: stash
        run: |
          if ! git diff --quiet || ! git diff --cached --quiet; then
            echo "[INFO] Uncommitted changes detected. Stashing before operation..."
            git stash push --include-untracked -k -m "bot-stash-$(date +%s)" >/dev/null
            echo "STASHED=true" >> $GITHUB_ENV
          else
            echo "STASHED=false" >> $GITHUB_ENV
          fi

      - name: Checkout and update temporary release branch
        run: |
          echo "[INFO] Checking out and updating branch '$TEMPORARY_RELEASE_BRANCH'"
          git fetch origin "$TEMPORARY_RELEASE_BRANCH"
          git checkout "$TEMPORARY_RELEASE_BRANCH"
          git pull origin "$TEMPORARY_RELEASE_BRANCH"

      - name: Bump release candidate version
        run: |
          rc_version=$(npm version prerelease)
          echo "[INFO] Bumping to next RC (${rc_version}) version"
          echo "RC_VERSION=$rc_version" >> $GITHUB_ENV

      - name: Push branch and tags
        if: inputs.dry_run != 'true'
        run: |
          echo "[INFO] Pushing updated '$TEMPORARY_RELEASE_BRANCH' and tags to remote"
          git push origin "$TEMPORARY_RELEASE_BRANCH" --follow-tags
          echo "[OK] Release Candidate successfully bumped to $RC_VERSION and pushed."

      - name: Restore stashed changes
        if: env.STASHED == 'true'
        run: |
          stashes=$(git stash list | wc -l)
          if [ "$stashes" -gt 0 ]; then
            echo "[INFO] Restoring stashed changes..."
            if ! git stash pop --quiet; then
              echo "[ERROR] Conflicts occurred while popping stash. Resolve manually."
              exit 1
            fi
          fi
      
      - name: Dry-run summary
        if: inputs.dry_run == 'true'
        run: |
          echo "[DRY-RUN] Workflow completed successfully"
          echo "[DRY-RUN] No changes were pushed to the remote repository"
